body {
	background: url("../images/employ2.png") no-repeat;
	background-size: 100% 100%;
}

div {
	margin: 0;
	padding: 0;
}
.header {
	background: #73AD21;
	position: relative;
	width: cover;
	height:	150px;
	border: 3px solid black;
}
.pic {
	background: url("../images/marvinleft.jpg") no-repeat;
	/*background: crimson;*/
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 150px;
	background-size: 100% 100%;
	/*border: 3px solid #73AD21;*/
}
.home {
	background: url("../images/marvinhome2.jpg") no-repeat;
	position: absolute;
	top: 20px;
	left: 15%;
	bottom: 20px;
	width: 110px;
	height: 110px;
	border: 3px solid darkred;
	background-size: 100% 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: greenyellow;
	font-size: 25px;
	text-align: center;

}
.myfamily {
	background: url("../images/marvinfamily2.jpg") no-repeat;
	position: absolute;
	top: 20px;
	left: 30%;
	bottom: 20px;
	width: 110px;
	height: 110px;
	border: 3px solid darkred;
	background-size: 100% 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	font-size: 20px;
	text-align: center;

}
.myeducation {
	background: url("../images/marvinthink2.jpg") no-repeat;
	position: absolute;
	top: 20px;
	left: 45%;
	bottom: 20px;
	width: 110px;
	height: 110px;
	border: 3px solid darkred;
	background-size: 100% 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	font-size: 16px;
	text-align: center;

}
.myservice{
	background: url("../images/marvinmilitary2.jpeg") no-repeat;
	position: absolute;
	top: 20px;
	left: 60%;
	bottom: 20px;
	width: 110px;
	height: 110px;
	border: 3px solid darkred;
	background-size: 100% 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	font-size: 18px;
	text-align: left;

}
.myemployement {
	background: url("../images/marvinjob.jpg") no-repeat;
	position: absolute;
	top: 20px;
	left: 75%;
	bottom: 20px;
	width: 110px;
	height: 110px;
	border: 3px solid darkred;
	background-size: 100% 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	font-size: 18px;
	text-align: justify;

}
.pic2 {
	background: url("../images/marvinright.jpg") no-repeat;
	/*background: crimson;*/
	
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 150px;
	background-size: 100% 100%;
}
.contact {
	background: firebrick;
	position: relative;
	width: 150px;
	height:	700px;
	border: 3px solid black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: darkblue;
	font-size: 30px;
	text-align: center;
}
.email {
	background: url("../images/gmail.jpg") no-repeat;
	position: absolute;
	top: 10%;
	left: 20px;
	width: 110px;
	height: 100px;
	/*border: 3px solid darkred;*/
	background-size: 100% 100%;

}
.github {
	background: url("../images/github.jpg") no-repeat;
	position: absolute;
	top: 25%;
	left: 20px;
	width: 110px;
	height: 100px;
	/*border: 3px solid darkred;*/
	background-size: 100% 100%;

}
.linkedin {
background: url("../images/linkedin.png") no-repeat;
	position: absolute;
	top: 40%;
	left: 20px;
	width: 110px;
	height: 100px;
	/*border: 3px solid darkred;*/
	background-size: 100% 100%;
}
.facebook {
background: url("../images/facebook.png") no-repeat;
	position: absolute;
	top: 55%;
	left: 20px;
	width: 110px;
	height: 100px;
	/*border: 3px solid darkred;*/
	background-size: 100% 100%;
}
.twitter {
background: url("../images/twitter.png") no-repeat;
	position: absolute;
	top: 68%;
	left: 20px;
	width: 110px;
	height: 100px;
	/*border: 3px solid darkred;*/
	background-size: 100% 100%;
}
.hometitle {
	position: absolute;
	top: 150px;
	left: 200px;
	right: 200px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: green;
	font-size: 40px;
	text-align: center;
}
.hometitle2 {
	position: absolute;
	top: 200px;
	left: 200px;
	right: 200px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: green;
	font-size: 35px;
	text-align: center;
}